* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aquamarine;
    border-style: solid;
}

h1 {
    color: brown;
    text-justify: auto;
    align-items: center;
    text-align: center;

}
h2 {
    color: red;
}
h3 {
    color: red;
}

img {
    align-content: center;
}

p

ul
li
ol
